@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&display=swap");
/*----------------------------------------------------*/
/* Modern CSS reset from Andy Bell */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/*----------------------------------------------------*/
/*Global properties & mobile design*/
:root {
  /*Colors*/
  --clr-primary-cyan: #66e2dc;
  --clr-primary-red: #fa7453;
  --clr-primary-orange: #ffb964;
  --clr-neutral-black: #191826;
  --clr-neutral-white: #fcfaf9;

  --clr-paragraph: var(--clr-neutral-black);
  --clr-paragraph-card: var(--clr-neutral-white);
  --bg-clr-card: var(--clr-primary-red);

  /*Typography*/
  --ff-default: "IBM Plex Sans", sans-serif;
  --fs-default: 16px;
  --fs-12: 0.75rem;
  --fs-18: 1.125rem;
  --fs-20: 1.25rem;
  --fs-24: 1.5rem;
  --fs-26: 1.625rem;
  --fs-28: 1.75rem;
  --fs-32: 2rem;
  --fs-36: 2.25rem;
  --fs-40: 2.5rem;
  --fs-48: 3rem;
  --fs-52: 3.25rem;
  --fs-62: 3.875rem;
  --fs-64: 4rem;
  --fs-65: 4.0625rem;
  --fs-68: 4.25rem;
  --fs-80: 5rem;
  --fs-88: 5.5rem;
  --fs-95: 5.9375rem;
  --fs-111: 6.9375rem;
  --fw-400: 400;
  --fw-700: 700;

  --fs-h1: var(--fs-40);
  --fs-h2: var(--fs-32);
  --fs-paragraph: var(--fs-default);
  --fs-paragraph-card: var(--fs-18);
  --fs-body: var(--fs-default);

  --fw-paragraph: var(--fw-400);
  --fw-heading: var(--fw-700);

  --lh-h1: var(--fs-48);
  --lh-h2: var(--fs-40);
  --lh-paragraph: var(--fs-26);
  --lh-paragraph-card: var(--fs-28);

  --ls-heading: -0.45px;
}

html {
  font-family: var(--ff-default);
  font-size: var(--fs-default);
}

body {
  font-size: var(--fs-body);
  background-image: url(./assets/bg-main-mobile.png);
  background-position: center left;
}

h1 {
  font-size: var(--fs-40);
  font-weight: var(--fw-700);
  line-height: var(--fs-48);
  letter-spacing: -0.45px;
  margin-bottom: 19px;
}

h2 {
  font-size: var(--fs-32);
  font-weight: var(--fw-700);
  line-height: var(--fs-40);
  margin-bottom: var(--fs-12);
}

p {
  font-size: var(--fs-default);
  font-weight: var(--fw-400);
  line-height: var(--fs-26);
}

button {
  font-size: var(--fs-18);
  font-weight: var(--fw-700);
  line-height: var(--fs-32);
  letter-spacing: -0.18px;
  width: 100%;
  border: 0;
  border-radius: var(--fs-12);
  padding: 15px 0;
  margin-left: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: color 0.5s cubic-bezier(0, 0.55, 0.45, 1),
    background-color 0.5s cubic-bezier(0, 0.55, 0.45, 1);
}

header {
  padding: var(--fs-40) var(--fs-24) var(--fs-68);
}

footer {
  padding: 0 var(--fs-24) var(--fs-80);
}

/* Compositions */

/* Utility classes */
.marg-right {
  margin-right: var(--fs-default);
}

.marg-right-20 {
  margin-right: var(--fs-20);
}

.marg-bot {
  margin-bottom: var(--fs-default);
}

.marg-bot-32 {
  margin-bottom: var(--fs-32);
}

.marg-bot-64 {
  margin-bottom: var(--fs-64);
}

.marg-bot-65 {
  margin-bottom: var(--fs-65);
}

.marg-amount {
  margin: var(--fs-36) 0 var(--fs-32) 6px;
}

.marg-icon {
  margin-right: 7.8px;
}

.flex {
  display: flex;
}

.f-h-center {
  justify-content: center;
}

.f-v-center {
  align-items: center;
}

.fs-18 {
  font-size: var(--fs-18);
}

.fs-20 {
  font-size: var(--fs-20);
}

.fs-65 {
  font-size: var(--fs-65);
}

.fw-700 {
  font-weight: var(--fw-700);
}

.lh-28 {
  line-height: var(--fs-28);
}

.lh-32 {
  line-height: var(--fs-32);
}

.lh-52 {
  line-height: var(--fs-52);
}

.pointer {
  cursor: pointer;
}

/* Blocks */
.main {
  display: grid;
  grid-template-rows: 98px 332px 48px repeat(3, minmax(10px, auto));
  justify-items: center;
}

.main__card {
  max-width: 395px;
  color: var(--clr-neutral-white);
  background-color: var(--clr-primary-red);
  padding: var(--fs-48) var(--fs-36);
  border-radius: var(--fs-12);
}

.main__back {
  width: min(100%, 395px);
  height: 600px;
  padding: 0 var(--fs-48);
  background-color: var(--clr-neutral-black);
  border-radius: var(--fs-12);
}

.main__phone {
  /* min-width: 322px; */
  max-width: 395px;
  padding: 0 5.2rem;
  margin: 0 auto;
}

/* Exceptions */
button[data-os="apple"] {
  color: var(--clr-neutral-white);
  background-color: var(--clr-neutral-black);
}

button[data-os="apple"]:hover {
  background-color: var(--clr-primary-cyan);
}

button[data-os="android"] {
  color: var(--clr-neutral-black);
  background-color: var(--clr-neutral-white);
}

button[data-os="android"]:hover {
  background-color: var(--clr-primary-orange);
}

div[data-grid-item="back"] {
  grid-column: 1 / 2;
  grid-row: 2 / 5;
}
div[data-grid-item="phone"] {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  z-index: 100;
}
section[data-grid-item="card"] {
  grid-column: 1 / 2;
  grid-row: 4 / 6;
  z-index: 100;
}

img[data-icon="social-media"] {
  transition: filter 0.5s cubic-bezier(0, 0.55, 0.45, 1);
}

img[data-icon="social-media"]:hover {
  filter: invert(48%) sepia(81%) saturate(874%) hue-rotate(329deg)
    brightness(108%) contrast(96%);
}

/*Tablet Design*/
@media (min-width: 600px) {
  body {
    background-image: url(./assets/bg-pattern-1.svg);
    background-repeat: no-repeat;
    background-position: top -2rem right -2rem;
    background-size: auto 400px;
  }

  header {
    /*Locally change some variable's value to indirectly modify some utility classes*/
    --fs-65: var(--fs-95);
    width: 77%;
    padding: var(--fs-62) var(--fs-40) var(--fs-111);
  }

  h1 {
    font-size: var(--fs-64);
    line-height: var(--fs-64);
    letter-spacing: -0.73px;
    margin-bottom: var(--fs-28);
  }

  /* Blocks */
  .header__presentation {
    font-size: var(--fs-18);
    line-height: var(--fs-28);
  }

  .main {
    width: 92%;
    margin: 0 auto var(--fs-64);
    grid-template-columns: 64px repeat(4, minmax(10px, auto)) 58px;
    grid-template-rows: 138px 150px 268px repeat(3, minmax(10px, auto));
  }

  .main__back {
    width: 100%;
    /* height: 600px;
    padding: 0 var(--fs-48);
    background-color: var(--clr-neutral-black);
    border-radius: var(--fs-12); */
  }

  .back__img {
    object-position: 100px -50px;
  }

  .main__phone {
    /* min-width: 322px; */
    max-width: 70%;
    padding: 0;
    margin: 0;
    justify-self: flex-start;
  }

  /* Exceptions */
  div[data-grid-item="back"] {
    grid-column: 1 / 7;
    grid-row: 2 / 5;
  }
  div[data-grid-item="phone"] {
    grid-column: 2 / 4;
    grid-row: 1 / 4;
    z-index: 100;
  }
  section[data-grid-item="card"] {
    grid-column: 3 / 5;
    grid-row: 3 / 6;
    z-index: 100;
  }

  /* MODIFY CARD */
}
