@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300;400;500;700;900&display=swap");

/*CSS RESET------------------------------------------------*/
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/*---------------------------------------------------------*/
:root {
  --clr-green-pale: #4d96a9;
  --clr-green-pale-filter: hsla(192, 37%, 48%, 0.88);
  --clr-green-pale-hover: #71c0d4;
  --clr-purple-pale: #855fb1;
  --clr-purple-pale-hover: #b18bdd;
  --clr-purple-light: #d9b8ff;
  --clr-cyan: #8fe3f9;
  --clr-black: #28283d;
  --clr-gray: #87879d;
  --clr-gray-opacity: #86869c40;
  --clr-white: #fafafa;

  --ff-default: "Red Hat Display", sans-serif;

  --fs-default: 16px;
  --fs-body: 1.125rem;
  --fs-h1: 2.5rem;
  --fs-h2: 2rem;

  --fw-light: 300;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-bold: 700;
  --fw-black: 900;

  --lh-body: 1.625rem;
  --lh-h1: 2.75rem;
  --lh-h2: 2.25rem;
  --lh-p: 1.625rem;

  --ls-overline: 0.25rem;
}

html {
  font-family: var(--ff-default);
  font-size: var(--fs-default);
}

body {
  font-size: var(--fs-default);
  font-weight: var(--fw-medium);
  line-height: var(--lh-body);
  color: var(--clr-gray);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1,
h2 {
  color: var(--clr-black);
  font-weight: var(--fw-black);
}

h1 {
  font-size: var(--fs-h1);
  font-weight: var(--fw-black);
  line-height: var(--lh-h1);
}

h2 {
  font-size: var(--fs-h2);
  font-weight: var(--fw-black);
  line-height: var(--lh-h2);
}

p {
  font-size: var(--fs-default);
  font-weight: var(--fw-medium);
  line-height: var(--lh-p);
}

button {
  font-size: var(--fs-default);
  font-weight: var(--fw-black);
  line-height: var(--lh-body);
  text-align: center;
  color: var(--clr-white);
  padding: var(--fs-default) 2rem;
  border: 0;
  border-radius: 100px;
}

/* Composition */
.hero-image-mobile {
  width: 100%;
  max-width: none;
  min-height: 153px;
  object-fit: cover;
}

.main__photos {
  margin: 4rem 1.5rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.main__container {
  display: grid;
  grid-template-rows: 112px 28px auto;
}

.grid-first {
  grid-row: 1 / 3;
  grid-column: 1 / 2;
  z-index: 100;
}

.grid-exp {
  grid-row: 2 / 4;
  grid-column: 1 / 2;
}

/* Utilities */

.p-hero-title {
  padding: 0 3rem;
}

.p-hero-description {
  padding: 0 1.5rem;
}

.padding-smarter {
  padding-inline: 1.5rem;
}

.m-hero-button {
  margin: 1rem auto 4rem;
}

.m-logo {
  margin: 3rem 0 3.375rem;
}

.m-hero-text {
  margin: 3rem auto 4rem;
}

.m-hero-description {
  margin: 1.5rem auto 2rem;
}

.m-smarter {
  margin-bottom: 3.9375rem;
}

.m-smarter__title {
  margin: 1.5rem 0 2rem;
}

.m-exp-title {
  margin: 0 0 1.5rem 0;
}

.m-exp-description {
  margin: 0 0 2rem 0;
}

.fs-exp-description {
  font-size: var(--fs-body);
}

.m-center {
  margin: 0 auto;
}

.fw-black {
  font-weight: var(--fw-black);
}

.clr-green-pale {
  color: var(--clr-green-pale);
}

.clr-white {
  color: var(--clr-white);
}

.ls-overline {
  letter-spacing: 4px;
}

.text-center {
  text-align: center;
}

.text-upper {
  text-transform: uppercase;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

/* Blocks */
.main__first {
  width: 56px;
  height: 140px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.first__container {
  width: 28px;
  height: 84px;
}

.first__number {
  width: 56px;
  height: 56px;
  font-size: var(--fs-default);
  font-weight: var(--fw-black);
  line-height: var(--lh-body);
  text-align: center;
  padding: 1rem 0;
  border: 1px solid var(--clr-gray-opacity);
  border-radius: 100px;
  color: var(--clr-gray);
  background-color: var(--clr-white);
  display: flex;
  justify-content: center;
  align-items: center;
}

.photo {
  width: 45%;
  border-radius: 0.5rem;
}

.main__exp {
  padding: 5.75rem 1.5rem 4.5rem;
  background-image: linear-gradient(
      var(--clr-green-pale-filter),
      var(--clr-green-pale-filter)
    ),
    url(./assets/mobile/image-footer.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-clip: border-box;
  /* overflow: hidden; */
}

/* Exceptions */
.hero__images[data-display="none"] {
  display: none;
}

.hero__button[data-color="green"] {
  background-color: var(--clr-green-pale);
}

:is(.hero__button, .exp__button)[data-color="purple"] {
  background-color: var(--clr-purple-pale);
}

:is(.hero__button, .exp__button):is([data-color="green"], [data-color="purple"]) {
  cursor: pointer;
  transition: background-color 0.2s cubic-bezier(0, 0, 1, -0.18);
}

.hero__button[data-color="green"]:hover {
  background-color: var(--clr-green-pale-hover);
}

:is(.hero__button, .exp__button)[data-color="purple"]:hover {
  background-color: var(--clr-purple-pale-hover);
}

.button--span[data-color="cyan"] {
  color: var(--clr-cyan);
}

.button--span[data-color="purple"] {
  color: var(--clr-purple-light);
}

.first__container[data-border="right"] {
  border-right: 1px solid var(--clr-gray-opacity);
}

/* For devices smaller than 350px viewport */
@media (max-width: 350px) {
  .main__photos {
    justify-content: center;
  }

  .photo {
    width: 100%;
  }
}

/* For devices bigger than 600px viewport (tablet design) */
@media (min-width: 600px) {
  :root {
    --fs-h1: 3rem;
    --fs-h2: 2.5rem;
    --lh-h1: 3rem;
    --lh-h2: 2.75rem;
  }

  /* Composition */
  .hero-image-mobile {
    min-height: 303px;
  }

  .hero__container {
    display: flex;
    justify-content: center;
    gap: 1rem;
  }

  .main__photos {
    margin: 4.1875rem 2.4375rem 3rem;
    flex-wrap: nowrap;
    gap: 11px;
  }

  /* Utilities */
  .p-hero-title {
    padding: 0 3.5rem;
  }

  .p-smarter {
    padding-inline: 0;
  }

  .p-smarter-title {
    padding: 0 4rem;
  }

  .p-exp-title {
    padding: 0 4rem;
  }

  .m-logo {
    margin: 3rem 0 4rem;
  }

  .m-hero-text {
    width: 59%;
    margin: 4.5rem auto 5rem;
  }

  .m-hero-button {
    margin: 0;
  }

  .m-smarter {
    margin: 0 auto 5rem;
  }

  .m-smarter__title {
    margin: 1rem 0 2rem;
  }

  .m-exp-description {
    margin: 0 0 2.5rem 0;
  }

  .width-smarter {
    width: 76%;
  }

  /* Blocks */
  .main__exp {
    padding: 5.75rem 6.125rem 4.125rem;
    background-image: linear-gradient(
        var(--clr-green-pale-filter),
        var(--clr-green-pale-filter)
      ),
      url(./assets/tablet/image-footer.jpg);
  }
}

/* For devices bigger than 1000px viewport (desktop design) */
